<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/123.css">
</head>
<body>
    <div id="nav-action" class="logout">
        <a style="color:blue" href="http://127.0.0.1:5000/"><span class="button-text">退出登录</span></a>
    </div>
    <div class="header">
        <p><img src="../static/art/10.JPG" alt=""></p>
    </div>
    <div class="nav">
        您可以在此界面通过不同方式传入图片或视频数据到后台程序检测后获得结果

    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../static/art/1.bmp" alt=""></div>
            <div class="swiper-slide"><img src="../static/art/2.bmp" alt=""></div>
            <div class="swiper-slide"><img src="../static/art/3.bmp" alt=""></div>
            <div class="swiper-slide"><img src="../static/art/4.bmp" alt=""></div>
            <div class="swiper-slide"><img src="../static/art/6.webp" alt=""></div>
        </div>
    </div>
<!--    <div class="box1">-->
<!--        <img src="../static/art/7.webp" alt="">-->
<!--    </div>-->
    <div class="show_source">
        <form action="/random_image" method="post">
            <span class="span_style">请在此输入视频流链接↓：</span><br>
            <input type="text" name="url" style="width:250px;height:25px" οnmοuseοut="this.style.borderColor='black';this.style.backgroundColor='#ffffff'" style="border-width:1px;border-color=black" id="test2">
            <div class="web_input">
                <input type="submit" value="开始识别" style="width:120px;height:40px;background:#93FFE8;border:2px solid gold;cursor: pointer;" >
                <input type="button" value="清空输入框" style="width:120px;height:40px;background:#FFF380;border:2px solid gold;cursor: pointer" onclick="document.getElementById('test2').value=''"/>
<!--                <p>图片的识别结果将会显示在右侧，请耐心等待！</p>-->

            </div>
        </form>
    </div>
    <div class="return_source">
        <form action="/welcome" method="post">
            <input type="submit" value="返回功能页面" style="width:120px;
            height:40px;
            background:#93FFE8;
            border:2px solid gold;
            cursor: pointer;" >
         </form>
    </div>

</body>
</html>